{% extends 'main.html' %} {% block title %} Dashboard {%endblock title %}
{%block content %} {% include 'accounts/status.html' %}

<br />

<div class="row">
  <div class="col-md-5 pl-4 ">
    <h5>CUSTOMERS: {{total_customers}}</h5>
    <hr />
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
      <table class="table table-sm">
        <tr>
          <th>row</th>
          <th>Customer</th>
          <th>Orders</th>
          <th>Detail</th>
          <th>created</th>
          
        </tr>
          {% for i in pg %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{i.customer.name}}</td>
            <td>{{i.status}}</td>
            <td>
              <a
              class="btn btn-sm btn-info"
              href="{% url 'customer' i.customer.id %}"
              >View</a
              >
            </td>
            <td>{{i.created | timesince}}</td>
          
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-md-7  pr-4">
    <h5> LAST 5 ORDERS</h5>
    <hr />
    <div class="card card-body">
      <a class="btn btn-sm btn-block disabled border-0" href="">Details</a>
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Date Ordered</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>

        {% for i in pg %}
        

        <tr>
          <td>{{i.product.name}}</td>
          <td>{{i.created}}</td>
          <td>{{i.status}}</td>
          <td>
            <a class="btn btn-sm btn-info" href="{% url 'update_order' i.id %}"
              >update</a
            >
          </td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' i.id %}">delete</a></td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div class="p-4">
  <nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center">

        {% if pg.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
      
          <li class="page-item"><a class="page-link" href="?page={{pg.previous_page_number}}">Previous</a></li>

        {% endif %}


        <!-- <li class="page-item disabled"><a href="#" class="page-link">Page {{pg.number}} of {{pg.paginator.num_pages}}</a></li> -->

        {% for i in nums %}
        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{ forloop.counter }}</a></li>
        {% endfor %}

        {% if pg.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{pg.next_page_number}}">next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{pg.paginator.num_pages}}">Last &raquo</a></li>
        {% endif %}

  </ul>
  </nav>
</div>
{% endblock content %}
