{% extends 'main.html' %} {% block title %} products {% endblock title %}
{%block content %}

<br />

<div class="row">
  <div class="col-md pl-5 pr-5">
    <div class="card dard-body">
      <h5 class="pl-3">Products</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Price</th>
        </tr>

        {% for i in products_page %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.category}}</td>
          <td>{{i.price}}</td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>


<br>
<br>

<div class="ml-5">
  <!-- <li class="ml-5"> -->
    <!-- {{products_page}}
    <p>Has Previous: {{products_page.has_previous}}
      <br>
      Has Next: {{products_page.has_next}}
      <br>
      Current Page: {{products_page.number}}
      <br>
      Number of Pages: {{products_page.paginator.num_pages}}
      <br>
      <br> -->

      <!-- if you see this comment you will be sth important -->
  <!-- </p> -->
    
    <nav aria-label="Page navigation example">
      <ul class="pagination">

          {% if products_page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
        
            <li class="page-item"><a class="page-link" href="?page={{products_page.previous_page_number}}">Previous</a></li>

          {% endif %}


          <li class="page-item disabled"><a href="#" class="page-link">Page {{products_page.number}} of {{products_page.paginator.num_pages}}</a></li>

          {% if products_page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{products_page.next_page_number}}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{products_page.paginator.num_pages}}">Last &raquo</a></li>
          {% endif %}

    </ul>
  </nav>
</div>
{% endblock content %}
